[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
molecule = "*"
docker = "*"
yamllint = "*"
ansible-lint = "*"
"flake8" = "*"
python-vagrant = "*"

[dev-packages]

[requires]
python_version = "2.7"
