[Interface]
PrivateKey = {{ client_privkey }}
Address = {{ client_addresses }}

[Peer]
PublicKey = {{ server_pubkey }}
Endpoint = {{ server_address }}:{{ server_port }}
AllowedIPs = {{ allowed_ips }}
[Interface]
DNS = {{ dns_server }}
